*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



header{
background-color: #FFD900;
height: 120px;
display: flex;
align-items: center;
padding-left: 60px;
}

#section1 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    text-align: center;
}

#text1 {
    background-color: #514988;
    text-align: center;
}

#titulo{
    font-size: 60px;
    font-weight: 700;
    color: #f3c61f;
    margin: 30px 0px;
}

#data{ 
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 60px;
}

#conteudo{ 
    font-size: 25px;
    font-weight: 400;
    color: #FFFFFF;
    margin:0px 45px 60px 45px;
}

#countdown{
    font-size: 40px;
    font-weight: 700;
    color: #514988;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.itensJuntos{
    display: flex;
}

#textoCountdown{
    font-size: 27px;
    font-weight: 700;
    color: #E33881;
    text-align: center;
    margin: 0px 0px 15px 0px;
}

#section2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}


#ingressos-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#text-ingressos {
    color: #f3c61f;
    font-size: 27px;
    font-weight: 700;
    margin: 15px 0px;
}

#botao-compra button{
    width: 500px;
    height: 125px;
    border-radius: 20px;
    background-color: #514988;
    cursor: pointer;
    border: none;
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 40px;
}

.cardHighlight {
    box-shadow: 10px 10px 7px gray;
}

.cardSelected{
    border: 5px solid green;
}

input {
    background: #514988;
    border-radius: 10px;
    color: #FFFFFF;
    border: 3px solid white;
    margin: 30px;
    width: 300px;
    height: 70px;
    font-size: 30px;
}

input::placeholder {
    color: white;
    padding-left: 10px;
}

#formulario {
    display: flex;
    justify-content: center;
    background-color: #f3c61f;
}


